.heading-block {
    padding: 33px 0;
    margin-bottom: 14px;

    .heading-title {
        margin-bottom: 10px;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        user-select: none;

    }

    .heading-info {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        user-select: none;

    }
}

.list-wrapper {
    display: flex;
    flex-wrap: wrap;
}
