<div class="wrapper-main-search" (click)="focusToInput()">
  <img src="https://s3-alpha-sig.figma.com/img/1a00/de7d/11fed4c22f4453b17eb910085d23dc5b?Expires=1703462400&Signature=WckdgZ0zzlNMqkHOlXr6GBu3gzIAx1rt0aGX8xk3hN8f31vBD0zHAvlNQKX4w-DaBa6YDb~LvqB9SNZC4ghCNCMitHFtNT~UAm4qz0xq80FTJ3feGKqqOV0lMT2II3afDUjv~TbSwsSkY3xuKe8d7ykOja7lTrzKVtiu0mRBcYYsTDpfYnvMFV8ic7AEy0vSi371JvWN0TIxrzpx6AwcWWo1y1mHVsZzZrs5oJLIPQS6JYTC-eSoMxfbC3Z9PkhMzTPdxgcKoXBkPwcdjwHkDRRZu6M3n1LQLjQDX~skpHVYDtdmDM20SaP8L7~2mYhZa8QkCCU7p6TVXpikpOkgKw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"  alt="Search"/>
  <input #inputElement>
</div>

