.page-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;

    .main-content {
        flex: 1;
        margin-left: 72px;
        overflow-y: scroll;
    }
    ::-webkit-scrollbar {
        width: 0;
    }
}

