<div class="heading-block">
    <div class="heading-title">Setting</div>
    <div class="heading-info">Welcome Setting Page</div>
</div>

<div class="auth-title">User profile</div>
<div class="user-auth">
    <div class="one-input-bloc">
        <div class="auth-input-title">Full Name</div>
        <input class="auth-input" />
    </div>
    <div class="one-input-bloc">
        <div class="auth-input-title">Email</div>
        <input class="auth-input" />
    </div>
    <div class="one-input-bloc">
        <div class="auth-input-title">Password</div>
        <input class="auth-input" />
    </div>
</div>

<div class="auth-title">Payment</div>
<div class="user-auth">
    <div class="one-input-bloc">
        <div class="auth-input-title">Number card</div>
        <input class="auth-input" />
    </div>
    <div class="one-input-bloc">
        <div class="auth-input-title">VALID THRU</div>
        <input class="auth-input" />
    </div>
    <div class="one-input-bloc">
        <div class="auth-input-title">CVC</div>
        <input class="auth-input" />
    </div>
</div>

<button class="save-button">Save</button>
