<div class="sidebar-container">
    <div class="main-icons">
        <img class="logo-icon" src="/assets/Logo.svg" />
        <img class="navigation-icon" src="/assets/DashBoard.svg" />
        <img class="navigation-icon" src="/assets/bid.svg" />
        <img class="navigation-icon" src="/assets/heart.svg" />
        <img class="navigation-icon" src="/assets/Collection.svg" />
        <img class="navigation-icon" src="/assets/Profile.svg" />
    </div>
    <img class="navigation-icon" src="/assets/sign-out.svg" />
</div>
