<div class="sidebar-container">
    <div class="main-icons">
        <app-icon class="logo-icon" path="/assets/Logo.svg"></app-icon>
        <app-icon class="navigation-icon" path="/assets/DashBoard.svg"></app-icon>
        <app-icon class="navigation-icon" path="/assets/bid.svg"></app-icon>
        <app-icon class="navigation-icon" path="/assets/heart.svg"></app-icon>
        <app-icon class="navigation-icon" path="/assets/Collection.svg"></app-icon>
        <app-icon class="navigation-icon" path="/assets/Profile.svg"></app-icon>

    </div>
    <app-icon class="navigation-icon" path="/assets/sign-out.svg"></app-icon>
</div>
